/* 노멀라이징 */
*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1c1c1c;
}
ul,li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.cell{
    float: left;
}
.cell_r{
    float: right;
}
.row::after{
    clear: both;
    display: none;
    content: "";
}
.con{
    width: 1200px;
    margin: 0 auto;
}

/* style */

/* nav_wrap start */
.nav_wrap{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    z-index: 999;
}
.nav_wrap > .category_box{
    width: 170px;
    position: absolute;
    top: 0;
    left: 150px;
    cursor: pointer;
}
.nav_wrap > .category_box > .icon > img{
    margin-top: 25px;
    margin-right: 5px;
}
.nav_wrap > .category_box > p{
    font-size: 18px;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav_wrap > .logo_box{
    width: 150px;
    margin: 0 auto;
    line-height: 100px;
    padding-top: 5px;
}

.nav_wrap > .icon_box{
    width: 150px;
    position: absolute;
    top: 0;
    right: 150px;
}
.nav_wrap > .icon_box > li{
    line-height: 100px;
    margin-top: 10px;
    margin-right: 15px;
}
.nav_wrap > .icon_box > li:last-child{
    margin-right: 0;
}
/* nav_wrap end */


/* nav_2_depth_wrap start */
.nav_2_depth_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.nav_2_depth_wrap.active{
    opacity: 1;
    visibility: visible;
}
.nav_2_depth_wrap > .nav_2_depth{
    width: 100%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1{
    width: 20%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 45px;
    padding-left: 90px;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 9999;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1.active{
    left: 0;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .title{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight:300;
    transition: 0.3s;
    opacity: 80%;
    line-height: 30px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li.bold{
    font-weight: 500;
    font-size: 21px;
    opacity: 100%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li:hover{
    font-weight: 500;
    font-size: 21px;
    opacity: 100%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li:last-child{
    margin-bottom: 0;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .arrow{
    margin-left: 100px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .arrow > ul > li{
    line-height: 40px;
    margin-bottom: 5px;
    opacity: 0;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .arrow > ul > li.active{
    opacity: 100%;
}


.nav_2_depth_wrap > .nav_2_depth > .nav_left_2{
    width: 20%;
    height: 100%;
    background-color: white;
    padding-top: 120px;
    padding-left: 90px;
    box-sizing: border-box;
    position: absolute;
    top : 0;
    left: -100%;
    transition: 0.5s;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2.active{
    left: 20%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content{
    width: 80%;
    height: 100%;
    background-color: white;
    position: absolute;
    top : 0;
    left: -100%;
    transition: 0.5s;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content.active{
    left: 20%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul{
    padding-top: 120px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul > li{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight:300;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul > li:hover{
    font-weight: 500;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul > li:last-child{
    margin-bottom: 0;
}


.nav_2_depth_wrap > .nav_2_depth > .close_btn{
    position: absolute;
    top : 30px;
    left: -100%;
    cursor: pointer;
    transition: 0.5s;
    z-index: 99999;
}
.nav_2_depth_wrap > .nav_2_depth > .close_btn.active{
    left: 15%;
}
.nav_2_depth_wrap > .nav_2_depth > .close_btn.active_2{
    left : 35%;
}
/* nav_2_depth_wrap end */


/* main_slider_wrap start */
.main_slider_wrap{
    width: 100%;
    height: 930px;
    background-color: black;
    position: relative;
}

.main_slider_wrap > .slider_arrow > .left_arrow{
    position: absolute;
    top: 430px;
    left: 100px;
    cursor: pointer;
}
.main_slider_wrap > .slider_arrow > .right_arrow{
    position: absolute;
    top: 430px;
    right: 100px;
    cursor: pointer;
}

.main_slider .slick-dots{
    bottom: 25px;
  }
  .main_slider .slick-dots li button:before{
    font-size: 50px ;
    color: white;
  }
  .main_slider .slick-dots li.slick-active button:before {
    color: white;
  }
  /* main_slider_wrap end */


  /* section_01 start */
.section_01{
    height: 500px;
    margin-top: 140px;
}

.section_01 > .title > p{
    width: 270px;
    height: 100px;
    font-size: 36px;
    font-weight: 500px;
    line-height: 40px;
}
.section_01 > .title > p > a{
    font-size: 24px;
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
}
.section_01 > .title > p > a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .section_01 > .title > p > a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .section_01 > .title > p > a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
    opacity: 30%;
  }
  
  .section_01 > .title > p > a {
    position: relative;
  }
.section_01 > .time{
    width: 290px;
    height: 50px;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
}

.section_01 > .arrow{
    z-index: 999999;
}
.section_01 > .arrow > .left_arrow{
    cursor: pointer;
}
.section_01 > .arrow > .right_arrow{
    margin-left: 75px;
    cursor: pointer;
}


.section_01 > .slider_wrap{
    margin-top: 90px;
}
.section_01 > .slider_wrap .slick-list{
    width: 100%;
}
.section_01 > .slider_wrap  .content{
    width: 200px;
    height: 350px;
    display: inline-block;
}
.section_01 > .slider_wrap  .content > .img_box{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.section_01 > .slider_wrap  .content > .img_box > img{
    width: 100%;
    transition: 0.5s;
}
.section_01 > .slider_wrap  .content > .img_box > img:hover{
    transform: scale(1.1);
}
.section_01 > .slider_wrap  .content > .brand > p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: black;
}
.section_01 > .slider_wrap  .content > .product > p{
    font-size: 14px;
    font-weight: 300;
    color: black;
    height: 40px;
}
.section_01 > .slider_wrap  .content > .price{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}
.section_01 > .slider_wrap  .content > .sale{
    font-size: 14px;
}
.section_01 > .slider_wrap  .content > .sale > p:first-child{
    color: #CB0015;
}
.section_01 > .slider_wrap  .content > .sale > p > del{
    margin-left: 15px;
    color: #9E9E9E;
    font-weight: 300;
}

.section_01 > .bar{
    width: 100%;
    height: 5px;
    background-color: #CB0015;
    opacity: 20%;
    margin-top: 20px;
}
.section_01 > .red_bar{
    width: 20%;
    height: 5px;
    background-color: #CB0015;
    margin-top: -5px;
}
/* section_01 end */


/* banner_01 start */
.banner_01{
    margin-top: 170px;
    padding-top: 30px;
    width: 100%;
    height: 200px;
    background-image: url(../img/banner_01.jpg);
    box-sizing: border-box;
}
.banner_01 > .txt_box > .title{
    color: white;
    font-size: 36px;
}
.banner_01 > .txt_box > .text{
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 5px;
}
.banner_01 > .txt_box > .more_btn{
    width: 90px;
    height: 30px;
    border: 1px solid white;
    margin-top: 15px;
}
.banner_01 > .txt_box > .more_btn > a{
    color: white;
    font-size: 14px;
    margin-left: 25px;
    line-height: 30px;
}
/* banner_01 end */


/* section_02 start */
.section_02{
    margin-top: 200px;
}
.section_02 > .title{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.section_02 > .nav{
    margin-bottom: 100px;
}
.section_02 > .nav > ul{
    margin-top: 30px;
}
.section_02 > .nav > ul > li{
    width: 95px;
    text-align: center;
    margin-right: 43px;
    cursor: pointer;
    position: relative;
    font-weight: 300;
}
.section_02 > .nav > ul > li:hover{
    font-weight: 500;
}
.section_02 > .nav > ul > li.active{
    font-weight: 500;
}
.section_02 > .nav > ul > li:after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: #CB0015;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.section_02 > .nav > ul > li:hover:after{
    width: 100%;
}
.section_02 > .nav > ul > li.active:after{
    width: 100%;
}
.section_02 > .nav > ul > li:last-child{
    margin-right: 0px;
}


.section_02 > .content_wrap > .content{
    display: none;
}
.section_02 > .content_wrap > .content.active{
    display: block;
}
.section_02 > .content_wrap > .content > .content_left{
    width: 500px;
}
.section_02 > .content_wrap > .content > .content_left > .img_box{
    width: 500px;
    height: 550px;
    overflow: hidden;
}
.section_02 > .content_wrap > .content > .content_left > .img_box > img{
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_left > .img_box > img:hover{
    transform: scale(1.1);
}
.section_02 > .content_wrap > .content > .content_left > .brand > p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: black;
}
.section_02 > .content_wrap > .content > .content_left > .product > p{
    font-size: 16px;
    font-weight: 300;
    color: black;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_left > .price{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}
.section_02 > .content_wrap > .content > .content_left > .sale{
    font-size: 14px;
}
.section_02 > .content_wrap > .content > .content_left > .sale > p:first-child{
    color: #CB0015;
}
.section_02 > .content_wrap > .content > .content_left > .sale > p > del{
    margin-left: 15px;
    color: #9E9E9E;
    font-weight: 300;
}

.section_02 > .content_wrap > .content > .content_right{
    width: 650px;
    margin-left: 30px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box{
    margin-right: 20px;
    margin-bottom: 10px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box:nth-child(3){
    margin-right: 0px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box:nth-child(6){
    margin-right: 0px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .img_box{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .img_box > img{
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .img_box > img:hover{
    transform: scale(1.1);
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .brand > p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: black;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .product > p{
    font-size: 14px;
    font-weight: 300;
    color: black;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .price{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .sale{
    font-size: 14px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .sale > p:first-child{
    color: #CB0015;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .sale > p > del{
    margin-left: 15px;
    color: #9E9E9E;
    font-weight: 300;
}

.section_02 > .view_btn{
    width: 175px;
    height: 50px;
    border: 1px solid #1c1c1c;
    margin: 0 auto;
    text-align: center;
    margin-top: 800px;
    position: relative;
}
.section_02 > .view_btn > a{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    text-align: center;
    padding: 20px 50px;
    box-sizing: border-box;
}
/* section_02 end */


/* section_03 start */
.section_03{
    margin-top: 200px;
    display: block;
    height: 1650px;
}
.section_03 > .title{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.section_03 > .content_box{
    position: relative;
}
.section_03 > .content_box > .content_w_500{
    width: 500px;
    height: 300px;
    background-color: #1c1c1c;
}
.section_03 > .content_box > .content_w_300{
    width: 300px;
    height: 400px;
    background-color: #1c1c1c;
}
.section_03 > .content_box > .content_01{
    position: absolute;
    left: 440px;
    top: 40px;
}
.section_03 > .content_box > .content_02{
    position: absolute;
    right: 440px;
    top: 270px;
}
.section_03 > .content_box > .content_03{
    position: absolute;
    left: 570px;
    top: 430px;
}
.section_03 > .content_box > .content_04{
    position: absolute;
    right: 500px;
    top: 660px;
}
.section_03 > .content_box > .content_05{
    position: absolute;
    left: 440px;
    top: 990px;
}
.section_03 > .content_box > .content_06{
    position: absolute;
    right: 570px;
    top: 1070px;
}
/* section_03 end */


/* section_04 start */
.section_04{
    height: 500px;
}
.section_04 > .content_left{
    width: 670px;
    height: 500px;
    background-color: #1c1c1c;
    margin-right: 30px;
}
.section_04 > .content_right{
    width: 500px;
    height: 500px;
}
.section_04 > .content_right > div{
    width: 500px;
    height: 150px;
    margin-bottom: 25px;
    background-color: #9E9E9E;
}
.section_04 > .content_right > div:last-child{
    margin-bottom: 0px;
}
/* section_04 end */


/* section_05 start */
.section_05{
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;
}
.section_05 > .title{
    font-size: 36px;
    font-weight: 500;
}









