/* 노멀라이징 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Pretendard-Regular';
    color: #1c1c1c;
}
ul,li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.cell{
    float: left;
}
.cell_r{
    float: right;
}
.row::after{
    clear: both;
    display: none;
    content: "";
}
.con{
    width: 1200px;
    margin: 0 auto;
}

/* style */

/* nav_wrap start */
.nav_wrap{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    z-index: 999;
}
.nav_wrap > .category_box{
    width: 170px;
    position: absolute;
    top: 0;
    left: 150px;
    cursor: pointer;
}
.nav_wrap > .category_box > .icon > img{
    margin-top: 25px;
    margin-right: 5px;
}
.nav_wrap > .category_box > p{
    font-size: 18px;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav_wrap > .logo_box{
    width: 150px;
    margin: 0 auto;
    line-height: 100px;
    padding-top: 5px;
}

.nav_wrap > .icon_box{
    width: 150px;
    position: absolute;
    top: 0;
    right: 150px;
}
.nav_wrap > .icon_box > li{
    line-height: 100px;
    margin-top: 10px;
    margin-right: 15px;
}
.nav_wrap > .icon_box > li:last-child{
    margin-right: 0;
}
/* nav_wrap end */


/* nav_2_depth_wrap start */
.nav_2_depth_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.nav_2_depth_wrap.active{
    opacity: 1;
    visibility: visible;
}
.nav_2_depth_wrap > .nav_2_depth{
    width: 100%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1{
    width: 20%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 45px;
    padding-left: 90px;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 9999;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1.active{
    left: 0;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .title{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight:300;
    opacity: 80%;
    line-height: 30px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li.bold{
    font-weight: bold;
    opacity: 100%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li:hover{
    font-weight: bold;
    opacity: 100%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .category_box > ul > li:last-child{
    margin-bottom: 0;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .arrow{
    margin-left: 100px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .arrow > ul > li{
    line-height: 40px;
    margin-bottom: 5px;
    opacity: 0;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_1 > .arrow > ul > li.active{
    opacity: 100%;
}


.nav_2_depth_wrap > .nav_2_depth > .nav_left_2{
    width: 20%;
    height: 100%;
    background-color: white;
    padding-top: 120px;
    padding-left: 90px;
    box-sizing: border-box;
    position: absolute;
    top : 0;
    left: -100%;
    transition: 0.5s;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2.active{
    left: 20%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content{
    width: 80%;
    height: 100%;
    background-color: white;
    position: absolute;
    top : 0;
    left: -100%;
    transition: 0.5s;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content.active{
    left: 20%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul{
    padding-top: 120px;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul > li{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight:300;
    opacity: 80%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul > li:hover{
    font-weight: bold;
    opacity: 100%;
}
.nav_2_depth_wrap > .nav_2_depth > .nav_left_2 > .content > ul > li:last-child{
    margin-bottom: 0;
}


.nav_2_depth_wrap > .nav_2_depth > .close_btn{
    position: absolute;
    top : 30px;
    left: -100%;
    cursor: pointer;
    transition: 0.5s;
    z-index: 99999;
}
.nav_2_depth_wrap > .nav_2_depth > .close_btn.active{
    left: 15%;
}
.nav_2_depth_wrap > .nav_2_depth > .close_btn.active_2{
    left : 35%;
}
/* nav_2_depth_wrap end */


/* main_slider_wrap start */
.main_slider_wrap{
    width: 100%;
    height: 930px;
    background-color: black;
    position: relative;
}

.main_slider_wrap > .slider_arrow > .left_arrow{
    position: absolute;
    top: 430px;
    left: 100px;
    cursor: pointer;
}
.main_slider_wrap > .slider_arrow > .right_arrow{
    position: absolute;
    top: 430px;
    right: 100px;
    cursor: pointer;
}

.main_slider .slick-dots{
    bottom: 25px;
  }
  .main_slider .slick-dots li button:before{
    font-size: 50px ;
    color: white;
  }
  .main_slider .slick-dots li.slick-active button:before {
    color: white;
  }
  /* main_slider_wrap end */


  /* section_01 start */
.section_01{
    height: 500px;
    margin-top: 140px;
}

.section_01 > .title > p{
    width: 270px;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
}
.section_01 > .title > p > a{
    font-size: 24px;
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
}
.section_01 > .title > p > a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .section_01 > .title > p > a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .section_01 > .title > p > a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
    opacity: 30%;
  }
  
  .section_01 > .title > p > a {
    position: relative;
  }
.section_01 > .time{
    width: 290px;
    height: 50px;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
}

.section_01 > .arrow{
    z-index: 999999;
}
.section_01 > .arrow > .left_arrow{
    cursor: pointer;
}
.section_01 > .arrow > .right_arrow{
    margin-left: 75px;
    cursor: pointer;
}


.section_01 > .slider_wrap{
    margin-top: 90px;
}
.section_01 > .slider_wrap .slick-list{
    width: 100%;
}
.section_01 > .slider_wrap  .content{
    width: 200px;
    height: 350px;
    display: inline-block;
}
.section_01 > .slider_wrap  .content > a > .img_box{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.section_01 > .slider_wrap  .content > a > .img_box > img{
    width: 100%;
    transition: 0.5s;
}
.section_01 > .slider_wrap  .content > a > .img_box > img:hover{
    transform: scale(1.1);
}
.section_01 > .slider_wrap  .content > a > .brand > p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: black;
}
.section_01 > .slider_wrap  .content > a > .product > p{
    font-size: 14px;
    font-weight: 300;
    color: black;
    height: 40px;
}
.section_01 > .slider_wrap  .content > a > .price{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}
.section_01 > .slider_wrap  .content > a > .sale{
    font-size: 14px;
}
.section_01 > .slider_wrap  .content > a > .sale > p:first-child{
    color: #CB0015;
}
.section_01 > .slider_wrap  .content > a > .sale > p > del{
    margin-left: 15px;
    color: #9E9E9E;
    font-weight: 300;
}
.section_01 > .slider_wrap .slick-dots{
    bottom: -50px;
  }
.section_01 > .slider_wrap .slick-dots li button:before{
    font-size: 30px ;
    color: #CB0015;
  }
.section_01 > .slider_wrap .slick-dots li.slick-active button:before {
    color: #CB0015;
  }

/* .section_01 > .bar{
    width: 100%;
    height: 5px;
    background-color: #CB0015;
    opacity: 20%;
    margin-top: 20px;
}
.section_01 > .red_bar{
    width: 20%;
    height: 5px;
    background-color: #CB0015;
    margin-top: -5px;
} */
/* section_01 end */


/* banner_01 start */
.banner_01{
    margin-top: 100px;
    padding-top: 30px;
    width: 100%;
    height: 200px;
    background-image: url(../img/banner_01.jpg);
    box-sizing: border-box;
}
.banner_01 > .txt_box > .title{
    color: white;
    font-size: 36px;
}
.banner_01 > .txt_box > .text{
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 5px;
}
.banner_01 > .txt_box > .more_btn{
    width: 90px;
    height: 30px;
    border: 1px solid white;
    margin-top: 15px;
    transition: 0.3s;
}
.banner_01 > .txt_box > .more_btn > a{
    color: white;
    font-size: 14px;
    margin-left: 25px;
    line-height: 30px;
    transition: 0.3s;
    font-weight: 300;
}
/* banner_01 end */


/* section_02 start */
.section_02{
    margin-top: 150px;
}
.section_02 > .title{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.section_02 > .nav{
    margin-bottom: 100px;
}
.section_02 > .nav > ul{
    margin-top: 30px;
}
.section_02 > .nav > ul > li{
    width: 95px;
    text-align: center;
    margin-right: 43px;
    cursor: pointer;
    position: relative;
    font-weight: 300;
}
.section_02 > .nav > ul > li:hover{
    font-weight: bold;
}
.section_02 > .nav > ul > li.active{
    font-weight: bold;
}
.section_02 > .nav > ul > li:after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: #CB0015;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.section_02 > .nav > ul > li:hover:after{
    width: 100%;
}
.section_02 > .nav > ul > li.active:after{
    width: 100%;
}
.section_02 > .nav > ul > li:last-child{
    margin-right: 0px;
}


.section_02 > .content_wrap > .content{
    display: none;
}
.section_02 > .content_wrap > .content.active{
    display: block;
}
.section_02 > .content_wrap > .content > .content_left{
    width: 500px;
}
.section_02 > .content_wrap > .content > .content_left > .img_box{
    width: 500px;
    height: 550px;
    overflow: hidden;
}
.section_02 > .content_wrap > .content > .content_left > .img_box > img{
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_left > .img_box > img:hover{
    transform: scale(1.1);
}
.section_02 > .content_wrap > .content > .content_left > .brand > p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.section_02 > .content_wrap > .content > .content_left > .product > p{
    font-size: 16px;
    font-weight: 300;
    color: black;
    cursor: pointer;
    margin-top: 5px;
}
.section_02 > .content_wrap > .content > .content_left > .price{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}
.section_02 > .content_wrap > .content > .content_left > .sale{
    font-size: 14px;
}
.section_02 > .content_wrap > .content > .content_left > .sale > p:first-child{
    color: #CB0015;
}
.section_02 > .content_wrap > .content > .content_left > .sale > p > del{
    margin-left: 15px;
    color: #9E9E9E;
    font-weight: 300;
}

.section_02 > .content_wrap > .content > .content_right{
    width: 650px;
    margin-left: 30px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box{
    margin-right: 20px;
    margin-bottom: 10px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box:nth-child(3){
    margin-right: 0px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box:nth-child(6){
    margin-right: 0px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .img_box{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .img_box > img{
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .img_box > img:hover{
    transform: scale(1.1);
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .brand > p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .product > p{
    font-size: 14px;
    font-weight: 300;
    color: black;
    cursor: pointer;
    margin-top: 5px;
    line-height: 20px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .price{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .sale{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .sale > p:first-child{
    color: #CB0015;
}
.section_02 > .content_wrap > .content > .content_right > .content_right_box > .sale > p > del{
    margin-left: 15px;
    color: #9E9E9E;
    font-weight: 300;
}

.section_02 > .view_btn{
    width: 175px;
    height: 50px;
    border: 1px solid #1c1c1c;
    margin: 0 auto;
    text-align: center;
    margin-top: 800px;
    position: relative;
    transition: 0.3s;
}
.section_02 > .view_btn:hover{
    background-color: #1c1c1c;
    transition: 0.3s;
}
.section_02 > .view_btn > a{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    text-align: center;
    padding: 20px 50px;
    box-sizing: border-box;
}
.section_02 > .view_btn:hover > a{
    color: white;
}
/* section_02 end */


/* section_03 start */
.section_03{
    margin-top: 100px;
    margin-bottom: 200px;
}
.section_03 > .title > P{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.section_03 > .content_wrap{
    margin-top: 50px;
}
.section_03 > .content_wrap > .content{
    width: 100%;
    height: 400px;
    margin-bottom: 70px;
}
.section_03 > .content_wrap > .content > .img_box{
    width: 700px;
    overflow: hidden;
}
.section_03 > .content_wrap > .content > .img_box > img{
    width: 100%;
    transition: 0.5s;
}
.section_03 > .content_wrap > .content > .img_box > img:hover{
    transform: scale(1.1);
}
.section_03 > .content_wrap > .content > .txt_box{
    width: 500px;
    padding-top: 100px;
    box-sizing: border-box;
}
.section_03 > .content_wrap > .content > .txt_box > p{
    margin-bottom: 35px;
    text-align: center;
}
.section_03 > .content_wrap > .content > .txt_box > p:first-child{
    font-size: 36px;
    font-weight: bold;
}
.section_03 > .content_wrap > .content > .txt_box > p:nth-child(2){
    font-size: 16px;
    line-height: 25px;
}
.section_03 > .content_wrap > .content > .txt_box > .more_btn{
    width: 200px;
    height: 50px;
    border: 1px solid #1c1c1c;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    /* transition: 0.3s; */
}
.section_03 > .content_wrap > .content > .txt_box > .more_btn:hover{
    background-color: #1c1c1c;
}
.section_03 > .content_wrap > .content > .txt_box > .more_btn:hover > a{
    transition: 0.3s;
}
.section_03 > .content_wrap > .content > .txt_box > .more_btn:hover > a{
    color: white;
}
/* section_03 end */


/* section_04 start */
.section_04{
    height: 500px;
}
.section_04 > .content_left{
    width: 670px;
    height: 500px;
    background-color: #1c1c1c;
    margin-right: 30px;
    position: relative;
}
.section_04 > .content_left  .content > a > .txt_box > p{
    color: white;
}
.section_04 > .content_left  .content > a > .txt_box > p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 20px;
}
.section_04 > .content_left  .content > a > .txt_box > p:nth-child(2){
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    bottom: 55px;
    left: 20px;
}
.section_04 > .content_left  .content > a > .txt_box > p:nth-child(2):after{
    width: 0%;
    height: 3px;
    content: "";
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.section_04 > .content_left  .content:hover > a > .txt_box > p:nth-child(2):after{
    width: 100%;
    transition: 0.3s;
}
.section_04 > .content_left  .content > a > .txt_box > p:last-child{
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.section_04 > .content_left  .content > a > .img_box{
    overflow: hidden;
}
.section_04 > .content_left  .content > a > .img_box > img{
    transition: 0.3s;
}
.section_04 > .content_left  .content:hover > a > .img_box > img{
    transform: scale(1.1);
    transition: 0.3s;
}
.section_04 > .content_left .slick-dots{
    bottom: 5px;
  }
.section_04 > .content_left .slick-dots li button:before{
    font-size: 30px ;
    color: white;
  }
.section_04 > .content_left .slick-dots li.slick-active button:before {
    color: white;
  }

.section_04 > .content_right{
    width: 500px;
}
.section_04 > .content_right > .content{
    width: 500px;
    height: 150px;
    margin-bottom: 25px;
    background-color: #9E9E9E;
    position: relative;
}
.section_04 > .content_right > .content > a > .img_box{
    width: 500px;
    height: 150px;
    overflow: hidden;
}
.section_04 > .content_right > .content > a > .img_box > img{
    transition: 0.3s;
}
.section_04 > .content_right > .content > a > .img_box:hover > img{
    transform: scale(1.1);
}
.section_04 > .content_right > .content > a > .txt_box > p{
    position: absolute;
    color: white;
    font-size: 20px;
}
.section_04 > .content_right > .content > a > .txt_box > p:first-child{
    top: 15px;
    right: 15px;
    font-family: 'Montserrat', sans-serif;
}
.section_04 > .content_right > .content > a > .txt_box > p:nth-child(2){
    bottom: 40px;
    left: 15px;
}
.section_04 > .content_right > .content > a > .txt_box > p:last-child{
    bottom: 10px;
    left: 15px;
    font-size: 26px;
    font-weight: bold;
}
.section_04 > .content_right > .content > a > .txt_box > p:last-child:after{
    width: 0%;
    height: 2px;
    background-color: white;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.section_04 > .content_right > .content:hover > a > .txt_box > p:last-child:after{
    width: 100%;
    transition: 0.3s;
}
/* section_04 end */


/* section_05 start */
.section_05{
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;
}
.section_05 > .title{
    font-size: 46px;
    font-weight: 700;
}
.section_05 > .view_btn{
    width: 175px;
    height: 50px;
    border: 1px solid #1c1c1c;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    transition: 0.3s;
}
.section_05 > .view_btn:hover{
    background-color: #1c1c1c;
    color: white;
    transition: 0.3s;
}
.section_05 > .view_btn > a{
    font-family: 'Montserrat', sans-serif;
}
.section_05 > .slider_wrap{
    width: 1200px;
    height: 600px;
    margin-top: 30px;
}
.section_05 > .slider_wrap  .content{
    position: relative;
    width: 580px;
    margin-right: 40px;
}
.section_05 > .slider_wrap  .content > a > .img_box{
    width: 580px;
    height: 600px;
    overflow: hidden;
    transition: 3s;
}
.section_05 > .slider_wrap  .content > a > .img_box > img{
    width: 100%;
    transition: 0.5s;
}
.section_05 > .slider_wrap  .content > a > .img_box:hover > img{
    transform: scale(1.1);
    transition: 0.5s;
}
.section_05 > .slider_wrap  .content > a > .text{
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.section_05 > .slider_wrap  .content > a > .text > p{
    position: relative;
    z-index: 999999999;
}
.section_05 > .slider_wrap  .content > a > .text > p:first-child{
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.section_05 > .slider_wrap  .content > a > .text > p:first-child:after{
    width: 0%;
    height: 3px;
    background-color: white;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.section_05 > .slider_wrap  .content > a:hover > .text > p:first-child:after{
    width: 100%;
    transition: 0.5s;
}
.section_05 > .slider_wrap  .content > a > .text > p:last-child{
    font-size: 18px;
    color: white;
    font-weight: 300;
    margin-top: 5px;
}

.section_05 > .bar_wrap{
    position: relative;
    margin-top: 45px;
}
.section_05 > .bar_wrap > .bar{
    width: 900px;
    height: 5px;
    background-color: #CB0015;
    opacity: 20%;
}
.section_05 > .bar_wrap > .red_bar{
    width: 300px;
    height: 5px;
    background-color: #CB0015;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.section_05 > .arrow_box{
    margin-right: 40px;
    margin-top: 35px;
}
.section_05 > .arrow_box > .left_arrow{
    margin-right: 60px;
    margin-top: 3px;
    cursor: pointer;
}
.section_05 > .arrow_box > .indexnum{
    margin-right: 60px;
}
.section_05 > .arrow_box > .right_arrow{
    margin-top: 3px;
    cursor: pointer;
}
/* section_05 end */


/* section_06 start*/
.section_06{
    margin-top: 400px;
}
.section_06 > .notice{
    width: 550px;
    height: 300px;
}
.section_06 > .question{
    width: 550px;
    height: 300px;
}

.section_06 > .content > .title_box > .title{
    font-size: 24px;
    font-weight: bold;
}
.section_06 > .content > .title_box > .more_btn{
    width: 90px;
    height: 30px;
    border: 1px solid #1c1c1c;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    transition: 0.3s;
}
.section_06 > .content > .title_box > .more_btn:hover{
    background-color: #1c1c1c;
    transition: 0.3s;
}
.section_06 > .content > .title_box > .more_btn:hover > a{
    color: white;
}
.section_06 > .content > .bar{
    width: 100%;
    height: 1px;
    background-color: #1c1c1c;
    margin-top: 50px;
}
.section_06 > .content > ul{
    margin-top: 20px;
}
.section_06 > .content > ul > li{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
.section_06 > .content > ul > li:hover{
    font-weight: bold;
}
.section_06 > .question > .bar{
    margin-top: 15px;
}
.section_06 > .question > ul:last-child{
    margin-left: 130px;
}

.section_06 > .call_center{
    width: 100%;
    height: 500px;
}
.section_06 > .call_center > .title_box{
    margin-bottom: -35px;
}
.section_06 > .call_center > .box_wrap{
    margin-top: 50px;
}
.section_06 > .call_center > .box_wrap > .box{
    width: 300px;
    height: 200px;
    padding-top: 30px;
    box-sizing: border-box;
    border-right: 1px solid #9E9E9E;
    text-align: center;
}
.section_06 > .call_center > .box_wrap > .box:last-child{
    border-right: 0px;
}
.section_06 > .call_center > .box_wrap > .box > p:first-child{
    font-size: 18px;
    margin-bottom: 3px;
}
.section_06 > .call_center > .box_wrap > .box > p:nth-child(2){
    font-size: 14px;
    font-weight: 300;
}
.section_06 > .call_center > .box_wrap > .box > p:nth-child(3){
    font-size: 36px;
    color: #CB0015;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.section_06 > .call_center > .box_wrap > .box > p:nth-child(4){
    font-size: 14px;
    font-weight: 300;
    color: #9E9E9E;
}
.section_06 > .call_center > .box_wrap > .box > p:nth-child(4):hover{
    color: #1c1c1c;
    font-weight: bold;
}
.section_06 > .call_center > .box_wrap > .box_4 > ul > li{
    margin-left: 85px;
    text-align: left;
    margin-bottom: 10px;
}
.section_06 > .call_center > .box_wrap > .box_4 > ul > li:hover{
    font-weight: 700;
    color: black;
}

/* section_06 end */


/* footer start */
.footer{
    width: 100%;
    height: 400px;
    background-color: #F0F0F0;
    margin-top: 1150px;
}
.footer > .content_wrap > .top > ul{
    margin-left: 35px;
}
.footer > .content_wrap > .top > ul > li{
    margin-right: 40px;
    font-weight: 300;
    font-size: 14px;
}
.footer > .content_wrap > .top > ul > li:nth-child(4){
    font-weight: bold;
}
.footer > .content_wrap > .top > ul > li:last-child{
    margin-right: 0px;
}
.footer > .content_wrap > .top > ul > li:hover{
    font-weight: bold;
}
.footer > .content_wrap  > .top > .select_wrap{
    margin-left: 20px;
    margin-top: -10px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-bottom: 2px solid #9a9a9a;
}
.footer > .content_wrap  > .top > .select_wrap > #site{
    width: 200px;
    height: 40px;
    background-color: #F0F0F0;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 14px;
    appearance: none;
    background: url(../img/footer_arrow.png) no-repeat 90% 50%;
    border: 0px;
}
.footer > .content_wrap  > .top > .select_wrap > #site:focus{
    background-color: #F0F0F0;
    outline: none;
}
.footer > .content_wrap  > .mid > .left_wrap{
    width: 580px;
    height: 165px;
    margin-top: 70px;
    margin-left: 30px;
    border-right: 1px solid #9E9E9E;
}
.footer > .content_wrap  > .mid > .left_wrap > .first > li{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #6A6A6A;
}
.footer > .content_wrap  > .mid > .left_wrap > .first > li:last-child{
    font-size: 12px;
    margin-bottom: 0px;
}
.footer > .content_wrap  > .mid > .left_wrap > .second{
    margin-left: 50px;
}
.footer > .content_wrap  > .mid > .left_wrap > .second > li{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #6A6A6A;
}
.footer > .content_wrap  > .mid > .left_wrap > .second > li:last-child{
    color: #1c1c1c;
    cursor: pointer;
}
.footer > .content_wrap  > .mid > .left_wrap > .second > li:last-child:hover{
    font-weight: bold;
}
.footer > .content_wrap  > .mid > .right_wrap{
    height: 165px;
    margin-top: 55px;
    margin-left: 40px;
}
.footer > .content_wrap  > .mid > .right_wrap > p{
    font-size: 14px;
    font-weight: 400;
    color: #6A6A6A;
    line-height: 20px;
}
.footer > .content_wrap  > .mid > .right_wrap > p:first-child{
    margin-bottom: 10px;
}
.footer > .content_wrap  > .bottom{
    margin-left: 160px;
    margin-top: 40px;
}
.footer > .content_wrap  > .bottom > p{
    font-size: 12px;
    color: #6A6A6A;
}








